
.search-bar{
    display: flex;
    gap: 10px;
    width: 20%;
    align-items: center;
    
}
.input-search-bar{
    border-radius: 5px;
    height: 20px;
    border: 1px solid rgb(176, 176, 176);
    padding-left: 5px;
}
.search-bar span {
    font-size: 20px;
  }





/* th {
    background-color: #4f8745; 
    color: #ffffff; 
    text-align: center; 
    padding: 10px; 
    font-weight: 500;
  }
  
  td {
    background-color: #fff; 
    color: #333; 
    text-align: center; 
    padding: 10px; 
  }

  tr {
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
  
    &:hover {
      background-color: #e0e0e0;
    }   }
 
 
   .container-bottom-list{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.pagination{
    display: flex;
    gap: 15px;
}

.showing-entries-txt{
  font-size: 0.8rem;
} 

.button-navigation-page{
  width: 80px;
  height: 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgb(69, 165, 69);
  color: white;
  font-size: 0.8rem;
  padding: 5px 10px;
  &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
}

 .display-options{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}




.select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

*/


  